/* reset
----------------------------------------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

article,
aside,
code,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}

body {
    padding-top: var(--site-space-lg);
    font-family: var(--copy);
    font-size: var(--font-base);
    color: var(--black);
    background: var(--off-white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    //position: relative;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

button,
textarea,
select {
    //font: inherit;
}

button {
    padding: 0;
    border: none;
    outline: none;
    //align-items: center;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
}

form {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
