/* overrides, fixes, temporary helpers. prayers..
----------------------------------------------------------------------------- */
.home {
    h2,
    h3,
    link {
        color: var(--white);
    }
}

code {
    background-color: red;
}

.cover {
    object-fit: cover;
}

.archive,
.categoty,
.taxonomy,
.bbwp_cpt_work-template-default {
    a {
        color: var(--black);
    }
}
