@use '../utilities/mixins';

/* banner
----------------------------------------------------------------------------- */
.banner-home {
    position: relative;
    width: 100%;
    padding-left: clamp(1.5rem, 0.3rem + 6vw, 4.5rem);
    padding-right: clamp(1.5rem, 0.3rem + 6vw, 4.5rem);
    padding-top: clamp(4rem, -4.883rem + 27.333vw, 14.25rem);
    padding-bottom: clamp(5rem, -8.65rem + 42vw, 20.75rem);
    background-color: var(--off-white);

    h1.statement {
        width: 100%;
        max-width: 1296px;
        margin: 0 auto;
        font-family: var(--titling);
        font-size: clamp(2.125rem, 7.5vw, 4.5rem);
        font-weight: 400;
        line-height: 1.2;

        @media (min-width: 880px) {
            line-height: var(--lh-medium);
        }
    }
}

.banner-standard {
    padding-top: clamp(4rem, -0.658rem + 14.333vw, 9.375rem);
    padding-bottom: clamp(5rem, -3.558rem + 26.333vw, 14.875rem);
    padding-left: clamp(1.5rem, 0.3rem + 6vw, 4.5rem);
    padding-right: clamp(1.5rem, 0.3rem + 6vw, 4.5rem);

    .page-title {
        margin-bottom: var(--drop-small);
        display: block;
        font-size: var(--font-base-plus);
        text-transform: uppercase;
        line-height: normal;
        color: var(--mid-black);
    }

    h1.statement {
        font-family: var(--titling);
        font-size: clamp(2.125rem, 4.5vw, 2.75rem);
        font-weight: 400;
        line-height: 1.2;

        @media (min-width: 1120px) {
            width: 32ch;
            line-height: var(--lh-medium);
        }
    }
}
