/* banner
----------------------------------------------------------------------------- */
.banner-home {
    // position: fixed;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 5rem;
    padding-left: var(--site-pad-large);
    padding-right: var(--site-pad-large);
    background-color: var(--off-white);

    @media (min-width: 880px) {
        padding-top: 14.25rem; // 228px
        padding-bottom: 20.75rem; // 332px
    }

    h1.statement {
        width: 100%;
        max-width: 1296px;
        margin: 0 auto;
        font-family: var(--titling);
        font-size: 1.75rem; // 28px
        font-weight: 400;
        line-height: var(--lh-medium);

        @media (min-width: 320px) {
            --a: 28;
            --b: 72;
            --x: 320;
            --y: 1120;
            --sum1: calc((var(--b) - var(--a)) / (var(--y) - var(--x)));
            --sum2: calc(var(--sum1) * var(--x));
            --sum3: calc(var(--a) - var(--sum2)) / 16 * 1rem;

            font-size: calc(var(--sum1) * 100vw + (var(--sum3)));
        }

        @media (min-width: 1120px) {
            font-size: var(--font-large);
        }
    }
}

.banner-standard {
    padding-top: 9.375rem; // 150px
    padding-bottom: 14.875rem; // 124px;

    .page-title {
        margin-bottom: var(--drop-small);
        display: block;
        font-size: var(--font-base-plus);
        text-transform: uppercase;
        line-height: normal;
        color: var(--mid-black);
    }

    h1.statement {
        font-family: var(--titling);
        font-size: 1.25rem;
        font-weight: 400;
        line-height: normal;

        @media (min-width: 320px) {
            --a: 24;
            --b: 44;
            --x: 320;
            --y: 1120;
            --sum1: calc((var(--b) - var(--a)) / (var(--y) - var(--x)));
            --sum2: calc(var(--sum1) * var(--x));
            --sum3: calc(var(--a) - var(--sum2)) / 16 * 1rem;

            font-size: calc(var(--sum1) * 100vw + (var(--sum3)));
        }

        @media (min-width: 1120px) {
            width: 32ch;
            font-size: var(--font-medium);
        }
    }
}
