/* get in touch
----------------------------------------------------------------------------- */
.get-in-touch {
    padding-top: 3.25rem;
    background: var(--white);

    .container {
        display: grid;
        grid-template-columns: 1fr;

        width: 100%;
        max-width: var(--site-width);
        padding-left: var(--site-pad-small);
        padding-right: var(--site-pad-small);
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 880px) {
            padding-left: var(--site-pad-large);
            padding-right: var(--site-pad-large);
        }
    }

    .image {
        margin-bottom: var(--mb-drop-medium);
    }

    // layout: media queries --------------------------------------------------
    @media (min-width: 800px) {
        .container {
            grid-template-columns: repeat(12, 1fr);
            grid-gap: var(--gutter-large);
        }

        .image {
            grid-column: 1 / 7;
            align-self: end;
        }

        .rich-text {
            grid-column: 7 / -1;
        }
    }

    @media (min-width: 1120px) {
        .image {
            grid-column: 3 / 7;
            align-self: end;
        }

        .rich-text {
            grid-column: 7 / 11;
        }
    }

    // style elements --------------------------------------------------
    .rich-text {
        .title {
            margin-bottom: var(--drop-small);
            font-size: var(--font-base-plus);
            text-transform: uppercase;
            line-height: var(--lh-medium);
            color: var(--mid-black);
        }

        p {
            margin-bottom: 0.5rem;
            font-size: var(--font-base);
            color: #9a9a9a;

            @media (min-width: 880px) {
                font-size: var(--font-base-plus);
            }
        }

        p:first-of-type {
            font-family: 'cabinet-medium';
            color: var(--black);
        }

        p:last-of-type {
            margin-bottom: 2rem;
        }

        .link {
            text-transform: uppercase;
            color: var(--black);
        }
    }

    form {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        ::placeholder {
            padding-left: 1rem;
            display: flex;
            align-items: center;
            font-size: var(--font-small);
            line-height: var(--lh-base);
            color: var(--mid-black);
        }
    }

    input {
        height: 52px;
        border: 1.5px solid var(--black);
        text-align: center;
        color: var(--black);
    }

    input[type='email'] {
        width: 100%;
        margin-bottom: var(--mb-drop-small);
    }

    input[type='submit'] {
        width: 100%;
        text-transform: uppercase;
        background-color: transparent;
    }
}
