/* get in touch
----------------------------------------------------------------------------- */
.get-in-touch {
    padding-top: 3.25rem;
    background: var(--white);

    .container {
        display: grid;
        grid-template-columns: 1fr;

        width: 100%;
        max-width: var(--site-width);
        padding-left: var(--site-pad-small);
        padding-right: var(--site-pad-small);
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 880px) {
            padding-left: var(--site-pad-large);
            padding-right: var(--site-pad-large);
        }
    }

    // layout: media queries --------------------------------------------------
    @media (min-width: 800px) {
        .container {
            grid-template-columns: repeat(12, 1fr);
            grid-gap: var(--gutter-large);
        }

        .image {
            grid-column: 1 / 7;
            align-self: end;
        }

        .rich-text {
            grid-column: 7 / -1;
        }
    }

    @media (min-width: 1120px) {
        .image {
            grid-column: 3 / 7;
            align-self: end;
        }

        .rich-text {
            grid-column: 7 / 11;
        }
    }

    // style elements --------------------------------------------------
    .rich-text {
        .title,
        p {
            font-size: var(--font-base-plus);
            line-height: normal;
            color: var(--mid-black);

            @media (min-width: 880px) {
                font-size: var(--font-base-plus);
            }
        }

        .title {
            margin-bottom: var(--mb-drop-small);
            font-family: var(--copy);
            text-transform: uppercase;
        }

        p {
            margin-bottom: 0.5rem;
            font-family: var(--copy-med);
            font-weight: var(--weight-regular-plus);
        }

        p:last-of-type {
            font-family: var(--copy);
            margin-bottom: 2rem;
        }

        .link {
            text-transform: uppercase;
            color: var(--black);
        }
    }

    form {
        width: 414px;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        transform: translateX(-14px);

        ::placeholder {
            font-size: var(--font-small);
            line-height: var(--lh-base);
            color: var(--mid-black);
        }

        @media (min-width: 880px) {
            flex-direction: row;

            ::placeholder {
                padding-left: 0.75rem;
                text-align: left;
            }
        }
    }

    input {
        height: 52px;
        border: 1.5px solid var(--black);
        margin-bottom: 0px;
        text-align: center;
    }

    input[type='email'] {
        width: 100%;
        margin-bottom: var(--mb-drop-small);
        font-family: var(--copy) !important;
        font-size: 20px;
        color: var(--mid-black) !important;

        @media (min-width: 880px) {
            border-right: none;
            width: 73%;
        }
    }

    input[type='submit'] {
        width: 100%;
        font-family: var(--copy-med) !important;
        font-size: 16px;
        text-transform: uppercase;
        color: var(--black) !important;
        background-color: transparent;

        @media (min-width: 880px) {
            width: 27%;
        }
    }
}
