/* Variables
------------------------------------------------------------------------------------------------------------------ */
:root {
    /* Colours
    -------------------------------------------------------------------------------------------------------------- */

    // generic
    --black: rgba(17, 17, 17, 1);
    --white: #fff;

    // brand specific
    --off-white: #f2f2ee;
    --aqua: #98f9ea;
    --meta: #959595;
    --mid-black: #4b4b4b;
    --mid-grey: #d9d9d9;
    --dark-grey: #666666;
    --work-meta: #c7c7c7;

    // tints
    --black-light: rgba(0, 0, 0, 0.25);

    /* Fonts
    ------------------------------------------------------------------------------------------------------------ */

    // typefaces
    // --titling: 'qt-optimum';
    --titling: 'cabinet';
    --copy: 'satoshi-regular', sans-serif;

    // font sizes
    --font-small: 1rem; // 16px - small body text, text & cta link
    --font-base: 1.125rem; // 18px - body text
    --font-base-plus: 1.25rem; // 20px - large body text
    --font-medium: 2.75rem; // 44px - medium titling
    --font-big: 4rem; // 64px big titling
    --font-large: 4.5rem; // 72px large / header titling

    // font weights
    --weight-light: 300;
    --weight-regular: 400;
    --weight-regular-plus: 500;
    --weight-bold: 700;
    --weight-black: 900;

    // font line-heights
    --lh-base: 1;
    --lh-small: 1.2;
    --lh-medium: 1.35;
    //    --lh-large: ;

    /* Layout
    ---------------------------------------------------------------------------------------------------------------- */

    // basics, eg site-width to be applied to site-container
    --site-width: 1440px;

    // generic spacing elements
    --site-space-sm: 1rem;
    --site-space-md: 3rem;
    --site-space-lg: 6rem;
    --site-space-bg: 10rem;

    // horizontal padding [replaces .wrap]
    --site-pad: 1.5rem;

    @media (min-width: 880px) {
        --site-pad: 4.5rem;
    }

    // padding pushing elements down within components
    --offset-small: 0;
    --offset-medium: 0;
    --offset-large: 0;

    @media (min-width: 880px) {
        --offset-small: 3rem;
        --offset-medium: 6rem;
        --offset-large: 12rem;
    }

    // margin-bottoms between elements or components
    --drop-small: 1rem;
    --drop-base: 1.125rem;
    --drop-medium: 3rem;
    --drop-large: 6rem;
    --drop-big: 10rem;

    /* Effects
    --------------------------------------------------------------------------------------------------------------- */

    // transitions
    --transition-basic: 300ms;
}

/* Breakpoints
 --------------------------------------------------------------------------------------------------------------- */

$break-vs: 320px; // small phones
$break-small: 480px; // medium phone
$break-small-medium: 660px; // large phone
$break-medium: 880px; // big phone & tablet
$break-large: 1120px; // tablet & laptop
$break-big: 1240px; // laptop
$break-vb: 1440px; // desktop
