/* team-member: scss for individual team member overlay
----------------------------------------------------------------------------- */
.team-member__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-height: 100%;
    min-height: 100vh;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;

    opacity: 0;
    visibility: hidden;
    overflow-y: scroll;

    background-color: var(--black);
    color: var(--white);

    z-index: 1000;

    .profile-top {
        margin-bottom: 10rem;
        display: flex;
        justify-content: flex-end;

        button {
            position: relative;
            width: 24px;
            height: 24px;
            border: 1.5px solid var(--white);
            border-radius: 50%;
            display: flex;
            justify-content: center;
        }

        button:before,
        button:after {
            position: absolute;
            top: 50%;
            width: 14px;
            height: 1px;
            content: '';
            background-color: var(--white);
        }

        button:after {
            transform: rotate(90deg);
        }
    }

    .profile,
    .project {
        display: grid;
        grid-template-columns: 1fr;

        figure {
            margin-bottom: var(--mb-drop-medium);
        }

        @media (min-width: 880px) {
            grid-template-columns: repeat(12, 1fr);
            grid-column-gap: var(--gutter-large);

            figure {
                margin-bottom: 6.5rem;
                grid-column: span 4;
            }

            .description,
            .project-info {
                grid-column: span 5;
            }
        }
    }

    .team-member-name,
    .project-title {
        font-family: var(--copy-med);
        font-size: var(--font-base-plus);
        font-weight: 500;
        line-height: var(--lh-base);
    }

    span,
    a {
        display: block;
    }

    .role,
    .category {
        margin-bottom: 1.25rem;
        font-size: var(--font-base-plus);
        color: #c7c7c7;
    }

    .description {
        margin-bottom: var(--mb-drop-large);
    }

    p {
        margin-bottom: 1.5rem;
        font-size: var(--font-base);
        color: var(--font-base-plus);

        @media (min-width: 880px) {
            font-size: var(--font-base-plus);
        }
    }

    p:last-of-type {
        margin-bottom: 1.25rem;
    }

    .linkedin,
    .link {
        font-size: var(--font-small);
        text-transform: uppercase;
        color: var(--white);
    }

    // div.project
    .favourite {
        margin-bottom: 0.75rem;
        font-family: var(--copy-med);
        font-size: var(--font-base-plus);
        text-transform: uppercase;
        color: #c7c7c7;
    }
}

.show-modal {
    opacity: 1;
    visibility: visible;
}
// }
