/* work: scss for individual work pages / case-studies
----------------------------------------------------------------------------- */
.case-study {
    padding-top: 6.75rem;
    background: var(--white);

    .page-top {
        margin-bottom: var(--drop-medium);
        display: grid;
        grid-template-columns: 1fr;
    }

    // page-top media queries ----------------------------------------------
    @media (min-width: 960px) {
        .page-top {
            grid-template-columns: repeat(12, 1fr);
        }

        .meta {
            grid-column: 1 / 3;
        }

        .title {
            grid-column: 8 / -1;
        }

        .excerpt {
            grid-column: 8 / -1;
        }
    }

    .meta {
        font-size: var(--font-base);
        text-transform: uppercase;
        color: var(--mid-black);
    }

    .title {
        font-size: var(--font-base-plus);
    }

    .excerpt {
        font-size: var(--font-base);
        color: var(--mid-black);
    }

    .primary-image {
        margin-bottom: var(--drop-big);
    }

    // primary content media queries ----------------------------------------------
    .primary-content {
        margin-bottom: var(--drop-big);
        display: grid;
        grid-template-columns: 1fr;
    }

    @media (min-width: 960px) {
        .primary-content {
            grid-template-columns: repeat(12, 1fr);
            grid-column-gap: 48px;
        }

        .lh-col {
            grid-column: 1 / 7;
        }

        .details {
            grid-column: 1 / 7;
        }

        .rh-col {
            grid-column: 8 / -1;
        }
    }

    .lh-col {
        .statement {
            margin-bottom: 118px;
            font-family: var(--titling);
            font-size: 2.75rem;
            line-height: 1.23;
        }

        .details {
            .sector {
                grid-column: 1 / 3;
            }

            .what-we-did {
                @media (min-width: 960px) {
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    grid-template-rows: auto;
                    grid-column-gap: 48px;
                    .strategy,
                    .design,
                    .digital {
                        grid-column: span 2;
                    }
                }
            }
        }

        h3 {
            margin-bottom: 0.25rem;
            font-size: var(--font-base);
            text-transform: uppercase;
            color: var(--mid-black);
        }

        .item {
            font-family: 'cabinet-medium';
            font-size: var(--font-base);
            line-height: 1.35;
            text-decoration: underline;
        }

        .sector,
        .awards,
        .strategy,
        .design,
        .digital {
            margin-bottom: 3.5rem;
            display: flex;
            flex-direction: column;
        }

        // .sector {
        //     grid-column: 1 / 3;
        // }

        // .awards {
        //     grid-column: 3 / -1;
        // }

        // .strategy,
        // .design,
        // .digital {
        //     grid-column: span 2;
        // }
    }

    .rh-col {
        .secondary-image {
            width: 100%;
        }
    }

    // flexible content styles
    // -----------------------------------------------------------------------------
    .flexible-content {
        padding-top: 3rem;
        background-color: var(--off-white);
    }

    .half,
    .double,
    .full-width,
    .bleed,
    .text-row,
    .image-text,
    .testimonial {
        margin-bottom: var(--drop-medium);
    }

    // images
    .double {
        .lh-image {
            grid-column: 1 / 7;
        }
        .rh-image {
            grid-column: 8 / -1;
        }
    }

    .full {
        padding: 100px 0 6rem 0;
    }

    // text
    .text-row {
        padding: 1.5rem 0 0 0;
        margin-bottom: 1.5rem;

        .lh-col {
            grid-column: 1 / 7;
        }

        .rh-col {
            grid-column: 9 / -1;
        }
    }

    // image-text
    .image-text {
        .image {
            grid-column: 1 / 7;
        }

        .text {
            grid-column: 9 / -1;
        }
    }

    // testimonial
    .testimonial {
        padding: 76px 0;
        background-color: var(--white);

        .author-meta {
            padding-top: 1rem;
            border-top: 1.5px solid var(--mid-black);
            grid-column: 2 / 4;

            span {
                //margin-bottom: 0.5rem;
                display: block;
            }

            .author {
                font-family: 'cabinet-medium';
            }

            .role,
            .organisation {
                color: var(--mid-black);
            }
        }

        .text {
            grid-column: 5 / 12;
            font-family: var(--titling);
            font-size: 2.75rem;
        }
    }
}
