/* work
----------------------------------------------------------------------------- */
.new-work {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-root);
    text-transform: uppercase;
    background-color: var(--white);
    z-index: 10;
}

.our-work__featured {
    h3 {
        font-family: var(--copy);
        font-size: 1.25rem;
        line-height: 1.35;
    }
}

.our-work {
    .page-top {
        width: 100%;
        max-width: 1296px;
        padding: 1.25rem 0 0 0;
        margin: 0 auto 72px;
        display: none;
        justify-content: space-between;
        align-items: center;

        .page-title {
            margin-bottom: 0.75rem;
            font-size: 30px;
            color: var(--copy);
        }

        @media (min-width: 1440px) {
            display: flex;
        }
    }
}
