.page-template-type {
    padding-top: calc(96px + 5rem);
    color: var(--white);
    background-color: var(--black);
    transition: 300ms;

    .toggle-bg {
        color: var(--white);
    }

    &.bg-toggled {
        background: var(--off-white);

        main {
            background: var(--off-white);
            color: var(--black);
            transition: 300ms;
        }

        .toggle-bg {
            color: var(--black);
        }

        section {
            border-bottom: 1px solid var(--black);
        }
    }

    .controls {
        margin-bottom: var(--drop-big);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-family: var(--copy);

        .h1 {
            font-size: 1.5rem;
            font-weight: 600;
        }

        button {
            font-size: 1rem;
            text-decoration: underline;
        }
    }

    // layout
    section {
        padding-bottom: 5rem;
        border-bottom: 1px solid var(--white);
        margin-bottom: 5rem;
    }

    .headings {
        display: grid;
        grid-template-columns: 160px 1fr;
        grid-gap: 48px;
        align-items: center;

        // inherited / generic type styles
        h1,
        h2,
        h3,
        h4,
        p {
            grid-column: 2 / 3;
        }

        h1 {
            font-size: 72px;
        }

        h2 {
            font-size: 44px;
        }

        h3 {
            font-size: 32px;
        }

        h4 {
            font-size: 18px;
        }

        p {
            font-size: 16px;
        }

        h1:first-of-type {
            margin-bottom: 3rem !important;
            color: var(--meta);
            grid-column: 1 / -1;
        }
    }

    // siloed type styles
    .qt-optimum {
        h1,
        h2,
        h3,
        .meta {
            font-family: var(--titling);
        }

        h4,
        p {
            font-family: var(--copy);
        }

        .meta {
            // font-family: var(--titling);
            font-size: 1rem;
            color: var(--meta);
        }
    }

    .cabinet {
        padding-top: 0.175rem;

        h1,
        h2,
        h3,
        .meta {
            font-family: var(--cabinet);
        }

        h4,
        p {
            font-family: var(--copy);
        }

        .meta {
            // font-family: var(--cabinet);
            font-size: 1rem;
            color: var(--meta);
        }
    }

    .satoshi {
        padding-top: 0.175rem;

        h1,
        h2,
        h3 {
            font-family: var(--copy);
        }

        h4,
        p {
            font-family: var(--copy);
        }

        .meta {
            font-family: var(--copy);
            font-size: 1rem;
            color: var(--meta);
        }
    }
}
