/* about
----------------------------------------------------------------------------- */
.who-we-are {
    background: var(--off-white);

    /* team-members
    ------------------------------------------------------------------------- */
    .team-members {
        margin-bottom: 6.875rem;
        columns: 3;
        column-gap: 48px;
    }

    .team-member {
        margin-bottom: 3.375rem;

        .image {
            width: 100%;
            margin-bottom: 0.625rem; //10px
        }

        .name {
            font-family: var(--copy);
            font-size: var(--font-root);
        }

        .role {
            font-size: var(--font-root-plus);
            text-transform: uppercase;
            color: var(--meta);
        }
    }

    .team-member:nth-of-type(4) {
        padding-bottom: 20rem;
    }

    .team-member:nth-of-type(5) {
        padding-top: 20rem;
    }

    /* text-image
    ------------------------------------------------------------------------- */
    .text-image {
        padding-top: 2.25rem;
        margin-bottom: 6rem;

        .inner {
            padding-top: 2.25rem;
            border-top: 1.5px solid var(--mid-black);
            display: grid;
            grid-column: 3 / 11;
            grid-template-columns: repeat(8, 1fr);
            grid-gap: 48px;
        }

        &:last-of-type {
            .inner {
                border: none;
            }
        }

        .text {
            .title {
                margin-bottom: var(--drop-small);
                font-size: var(--font-base-plus);
                text-transform: uppercase;
                line-height: var(--lh-medium);
                color: var(--mid-black);
            }

            p {
                margin-bottom: 0.5rem;
                font-size: var(--font-base-plus);
                color: #9a9a9a;
            }

            p:first-of-type {
                font-family: 'cabinet-medium';
                color: var(--black);
            }

            p:last-of-type {
                margin-bottom: 2rem;
            }

            .link {
                font-family: 'cabinet-medium';
                font-size: var(--font-small);
                text-transform: uppercase;
                color: var(--black);
            }
        }
    }

    .left {
        .text {
            grid-column: 1 / 5;
            grid-row: 1 / 2;
        }

        .image {
            grid-column: 5 / -1;
            grid-row: 1 / 2;
            justify-self: end;
        }
    }

    .right {
        .text {
            grid-column: 5 / -1;
            grid-row: 1 / 2;
        }

        .image {
            grid-column: 1 / 5;
            grid-row: 1 / 2;
            justify-self: start;
        }
    }

    /* image-offset
    ------------------------------------------------------------------------- */
    .image-offset {
        .grid {
            grid-template-rows: repeat(10, 96px);
        }
        .primary-image {
            grid-column: 3 / -1;
        }

        .secondary-image {
            grid-column: 1 / 6;
            grid-row: 6 / -1;
        }
    }

    /* image-grid
    ------------------------------------------------------------------------- */
    .image-grid {
        padding-top: 96px;

        &.black {
            background-color: var(--black);

            .title,
            p {
                color: var(--white);
            }
        }

        &.white {
            background-color: var(--white);

            .title,
            p {
                color: var(--black);
            }
        }

        .introduction {
            margin-bottom: 3rem;
        }

        .title {
            grid-column: 1 / 4;
            grid-row: 1 / -1;
            font-size: 44px;
        }

        p {
            grid-column: 8 / -1;
            grid-row: 1 / -1;
        }

        .images {
            padding: 60px 0 74px 0;

            .image {
                margin-bottom: 4rem;
                grid-column: span 3;
                justify-self: center;
            }

            .image:nth-of-type(4n + 1) {
                justify-self: start;
            }

            .image:nth-of-type(4n) {
                justify-self: end;
            }
        }
    }
}
