/* about
----------------------------------------------------------------------------- */
.about {
    background: var(--off-white);

    /* team-members
    ------------------------------------------------------------------------- */

    .team-members {
        margin-bottom: 110px;
        columns: 3;
        column-gap: 48px;
    }

    .team-member {
        margin-bottom: 3.375rem;

        .image {
            width: 100%;
            margin-bottom: 0.625rem; //10px
        }

        h3.name {
            font-family: var(--copy);
            font-size: var(--font-root);
            //   font-weight: bold;
        }

        .role {
            font-size: var(--font-root-plus);
            text-transform: uppercase;
            color: var(--meta);
        }
    }

    .team-member:nth-of-type(4) {
        padding-bottom: 320px;
    }

    .team-member:nth-of-type(5) {
        padding-top: 320px;
    }

    /* client
    ------------------------------------------------------------------------- */
    .clients {
        background: var(--black);

        h2,
        p {
            color: var(--white);
        }

        .logos {
            padding: 60px 48px 74px 48px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 48px;
        }
    }
}
