/* about
----------------------------------------------------------------------------- */
.about {
    background: var(--off-white);

    /* team-members
    ------------------------------------------------------------------------- */
    .team-members {
        margin-bottom: 110px;
        columns: 3;
        column-gap: 48px;
    }

    .team-member {
        margin-bottom: 3.375rem;

        .image {
            width: 100%;
            margin-bottom: 0.625rem; //10px
        }

        h3.name {
            font-family: var(--copy);
            font-size: var(--font-root);
            //   font-weight: bold;
        }

        .role {
            font-size: var(--font-root-plus);
            text-transform: uppercase;
            color: var(--meta);
        }
    }

    .team-member:nth-of-type(4) {
        padding-bottom: 320px;
    }

    .team-member:nth-of-type(5) {
        padding-top: 320px;
    }

    /* clients
    ------------------------------------------------------------------------- */
    .clients {
        padding-top: 96px;
        background: var(--black);

        h2,
        p {
            color: var(--white);
        }

        h2 {
            grid-column: 1 / 4;
            font-size: 44px;
        }

        p {
            grid-column: 8 / 12;
        }

        .logos {
            padding: 60px 0 74px 0;

            img {
                grid-column: span 3;
            }
        }
    }

    /* text-image
    ------------------------------------------------------------------------- */
    .our-work {
        // border-top: 1px solid var(--black);
        padding-bottom: 192px;
        margin-top: 100px;
        background-color: var(--off-white);

        .lh-col {
            grid-column: 1 / 7;
        }

        .title,
        .text {
            color: var(--black);
        }

        .title {
            margin: 2rem 0 4.125rem 0;
            font-size: 2.75rem;
        }

        .text {
            margin-bottom: 4rem;
            font-family: var(--titling);
            font-size: 4.065rem;
            line-height: 1.07;
        }

        .link {
            font-family: 'cabinet-medium';
            text-transform: uppercase;
            color: var(--black);
        }

        .rh-col {
            margin-top: 2rem;
            grid-column: 8 / -1;
        }

        .image {
            width: 100%;
        }
    }

    /* partners
    ------------------------------------------------------------------------- */
    .partners {
        padding-top: 96px;
        background: var(--white);

        h2,
        p {
            color: var(--black);
        }

        h2 {
            grid-column: 1 / 4;
            font-size: 44px;
        }

        p {
            grid-column: 8 / -1;
        }

        .logos {
            padding: 60px 0 74px 0;
            display: flex;
            justify-content: space-between;
        }
    }

    /* image-cta
    ------------------------------------------------------------------------- */
    .image-cta {
        padding: 62px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .lh-col {
            margin-right: 46px;
        }

        .rh-col {
            width: 280px;
            margin-left: 46px;
        }

        .title {
            margin-bottom: 0.25rem;
        }

        .text {
            margin-bottom: 3.875em;
            font-size: var(--font-root-plus);
            line-height: 1.35;
        }
    }
}
