/* listings: these are the shared styles for archive.php category.php etc
----------------------------------------------------------------------------- */
.page-template-work,
.archive {
    h3.title {
        font-family: var(--copy);
        font-size: 1.25rem;
        font-weight: var(--weight-regular);
        line-height: var(--lh-base);
    }

    .link {
        //color: var(--black);
    }

    .meta {
        font-size: var(--font-root);
        line-height: var(--lh-small);
        text-transform: uppercase;
        font-weight: var(--weight-light);
        color: var(--meta);
    }
}

.list-taxonomies {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    @media (min-width: 960px) {
        flex-direction: row;
    }

    .taxo-link {
        margin-left: 3rem;
        font-size: var(--font-root);
        color: var(--black);
    }
}

.tax-casestudy_taxonomy {
    article {
        a {
            color: var(--black);
        }
    }
}
