/* layout
----------------------------------------------------------------------------- */
#site-wrapper {
    // styles
}

.page-top {
    width: 100%;
    max-width: 1296px;
    padding: 1.25rem 0 0 0;
    margin: 0 auto 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .page-title {
        margin-bottom: 0.75rem;
        font-size: 30px;
        color: var(--copy);
    }
}
