/* typography
----------------------------------------------------------------------------- */
body {
    font-family: var(--copy);
    font-size: var(--font-base);
    color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--titling);
    font-weight: var(--weight-regular);
}

h1,
.h1 {
    // clamp active between 320 - 1120px
    font-size: clamp(2rem, 1.7rem + 1.5vw, 2.75rem);
}

h2,
.h2 {
    // clamp active between 320 - 1120px
    font-size: clamp(2rem, 1.7rem + 1.5vw, 2.75rem);
}

h3,
.h3 {
    // clamp active between 320 - 1120px
    font-size: clamp(1.125rem, 1.075rem + 0.25vw, 1.25rem);
}

h4,
.h4 {
    // clamp active between 320 - 1120px
    font-size: clamp(1.125rem, 1.075rem + 0.25vw, 1.25rem);
}

p,
span,
li,
small {
    // clamp active between 320 - 120px
    font-family: var(--copy);
    font-size: clamp(1.125rem, 1.075rem + 0.25vw, 1.25rem);
}
