/* footer
----------------------------------------------------------------------------- */
footer {
    padding-top: var(--site-space-md);
    padding-bottom: var(--site-space-md);
    background-color: var(--black);
    color: var(--white);

    .inner {
        .section-title {
            margin-bottom: var(--drop-small);
            grid-column: 1 / -1;
            font-family: var(--titling);
            font-size: clamp(2rem, 4.5vw, 2.75rem);
            line-height: 1.2;

            @media (min-width: 880px) {
                line-height: var(--lh-medium);
            }
        }

        .meta,
        h3 {
            margin-bottom: 0.25rem;
            font-family: var(--copy);
            text-transform: uppercase;
            color: var(--work-meta);
        }

        p {
            margin-bottom: var(--mb-drop-medium);
        }

        .link {
            font-family: var(--copy-med);
            //display: block;
        }

        a[href^='tel:'] {
            color: var(--white);
        }
    }

    .lh-col {
        margin-bottom: 32px;
        grid-column: 1 / 7;

        .text {
            color: var(--work-meta);

            @media (min-width: 480px) {
                width: 29ch;
            }
        }
    }

    .rh-col {
        @media (min-width: 960px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-column: 7 / -1;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: var(--gutter-large);
        }

        .contact {
            margin-bottom: 48px;
            grid-column: 1 / 5;

            @media (min-width: 960px) {
                margin-bottom: 0;
            }

            li {
                margin-bottom: var(--mb-drop-medium);
                margin-bottom: 20px;
            }

            li:last-of-type p {
                margin-bottom: var(--drop-small);
            }

            .join-us-statement {
                max-width: 27ch;
                color: var(--work-meta);
            }
        }

        .socials-and-address {
            grid-column: 5 / -1;

            .socials {
                margin-bottom: 1.5rem;
            }

            li {
                margin-bottom: 4px;
            }

            .link {
                position: relative;
                margin-bottom: 0.25rem;
                font-size: var(--font-plus);
                text-decoration: none;
                color: var(--white);
                overflow: hidden;

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 1.5px;
                    background-color: #ffffff;
                    opacity: 0;
                    transition: opacity 300ms, transform 300ms;
                    transform: translateX(0);
                }

                &:hover:after {
                    opacity: 1;
                    transform: translateX(0);
                }
            }

            address {
                font-style: normal;
            }
        }
    }

    .footer-supplementary {
        margin-top: 9.5rem;
        grid-column: 1 / -1;

        display: grid;
        grid-template-columns: 1fr;

        @media (min-width: 960px) {
            grid-template-columns: repeat(12, 1fr);
            grid-column-gap: var(--gutter-large);
        }

        .copyright-and-policies {
            margin-top: 3.5rem;
            grid-column: 1 / 7;

            small {
                display: block;
                color: var(--work-meta);
            }
        }

        .member-logos {
            .logos {
                width: 312px;
                height: auto;
                margin-top: 0.25rem;
                display: flex;
                justify-content: space-between;
            }

            img:first-of-type {
                margin-right: 1.5rem;
            }

            @media (min-width: 960px) {
                grid-column: 7 / -1;
            }
        }
    }
}
