/* footer
----------------------------------------------------------------------------- */
footer {
    padding-bottom: 3rem;
    background-color: var(--black);

    .footer-main {
        padding-top: 3rem;
        @media (min-width: 1180px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 48px;
        }

        .lh-col {
            span,
            .title {
                font-family: var(--titling);
                font-size: var(--font-medium);
            }

            .text {
                // font-family: var(--copy);
                margin-top: 1rem;
                width: 32ch;
                font-size: var(--font-root-plus);
                color: var(--work-meta);
            }
        }

        .rh-col {
            padding-top: 8.25rem;
            margin-bottom: 14.25rem;

            @media (min-width: 660px) {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
            }

            .contact {
                grid-column: 1 / 5;
            }

            .contact {
                h3 {
                    font-size: var(--font-root-plus);
                    text-transform: uppercase;
                    color: var(--work-meta);
                }

                span {
                    margin-bottom: 1.5rem;
                    display: block;
                }
            }

            .social {
                h3 {
                    font-size: var(--font-root-plus);
                    text-transform: uppercase;
                    color: var(--work-meta);
                }

                li {
                    margin-bottom: 0.5rem;
                    font-size: var(--font-plus);
                    text-decoration: underline;
                }
            }
        }
    }
}
