/* footer
----------------------------------------------------------------------------- */
footer {
    padding-top: var(--site-space-md);
    padding-bottom: var(--site-space-md);
    background-color: var(--black);
    color: var(--white);

    .inner {
        width: 100%;
        max-width: var(--site-width);
        padding-left: var(--site-pad-small);
        padding-right: var(--site-pad-small);
        margin: 0 auto;

        @media (min-width: 880px) {
            padding-left: var(--site-pad-large);
            padding-right: var(--site-pad-large);
        }

        display: grid;
        grid-template-columns: 1fr;

        @media (min-width: 960px) {
            grid-template-columns: repeat(12, 1fr);
            grid-column-gap: var(--gutter-large);
        }

        .section-title {
            margin-bottom: var(--drop-small);
            grid-column: 1 / -1;
            font-family: var(--titling);
            font-size: clamp(2rem, 4.5vw, 2.75rem);
        }

        .meta,
        h3 {
            font-family: var(--copy);
            font-size: var(--font-root-plus);
            text-transform: uppercase;
            color: var(--work-meta);
        }

        .link {
            font-family: var(--copy-med);
            display: block;
        }

        a[href^='tel:'] {
            color: var(--white);
        }
    }

    .lh-col {
        grid-column: 1 / 7;

        .text {
            font-size: var(--font-root-plus);
            color: var(--work-meta);

            @media (min-width: 480px) {
                width: 32ch;
            }
        }
    }

    .rh-col {
        @media (min-width: 960px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-column: 7 / -1;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: var(--gutter-large);
        }

        .contact {
            grid-column: 1 / 4;

            .link {
                margin-bottom: var(--drop-small);
            }

            .join-us-statement {
                margin-bottom: var(--drop-small);
                color: var(--work-meta);
            }
        }

        .socials-and-address {
            grid-column: 5 / -1;

            .socials {
                margin-bottom: 1.5rem;
            }

            .link {
                margin-bottom: 0.25rem;
                font-size: var(--font-plus);
                text-decoration: none;
                color: var(--white);
            }

            address {
                font-style: normal;
            }
        }
    }

    .footer-supplementary {
        margin-top: 12rem;
        grid-column: 1 / -1;

        display: grid;
        grid-template-columns: 1fr;

        @media (min-width: 960px) {
            grid-template-columns: repeat(12, 1fr);
            grid-column-gap: var(--gutter-large);
        }

        .copyright-and-policies {
            margin-top: 3.5rem;
            grid-column: 1 / 7;

            small {
                display: block;
                color: var(--work-meta);
            }
        }

        .member-logos {
            .logos {
                display: flex;
            }

            @media (min-width: 960px) {
                grid-column: 7 / -1;
            }
        }
    }
}
