.newsroom {
    padding: 100px 0;
    background-color: var(--off-white);

    h2.title {
        padding-bottom: 3rem;
        border-bottom: 1px solid var(--work-meta);
        font-size: 2rem;
        color: var(--black);
    }

    .news-item {
        padding-top: 1.5rem;
        border-bottom: 1px solid var(--work-meta);

        @media (min-width: 880px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 48px;
        }

        .category {
            font-size: var(--font-root-plus);
            text-transform: uppercase;
            color: #4b4b4b;
        }

        h3 {
            margin-bottom: 4.5rem;
            font-size: 2.75rem;
            color: var(--black);
        }
    }
}
