/* header
----------------------------------------------------------------------------- */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 96px;
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--off-white);
    z-index: 100;

    @media (min-width: 880px) {
        align-items: flex-end;
    }

    .bb-logo {
        width: 112px;

        svg {
            max-width: 100%;
        }
    }

    .burger {
        position: relative;
        width: 24px;
        height: 2px;
        background-color: var(--black);

        @media (min-width: 880px) {
            display: none;
        }

        &:before,
        &:after {
            position: absolute;
            display: block;
            width: inherit;
            height: inherit;
            content: '';
            background-color: inherit;
        }

        &:before {
            top: -6px;
        }

        &:after {
            top: 6px;
        }
    }

    .scrolled {
        // styles to go here
    }
}
