/* home 

Styles for the bespoke grid elements on the homepage, styles for other components are in page-sections & footer etc
Note: A lot of styles eg grid-columns are output as inline styles via ACF and changed in in Field Groups
--------------------------------------------------------------------------------------------------------- */
.flexible-content__home {
    width: 100%;
    max-width: var(--site-width);
    padding-top: var(--site-space-lg);
    padding-bottom: var(--site-space-lg);
    padding-left: var(--site-pad-small);
    padding-right: var(--site-pad-small);
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 880px) {
        padding-left: var(--site-pad-large);
        padding-right: var(--site-pad-large);
    }

    .section-title {
        margin-bottom: var(--drop-large);
        font-size: var(--font-medium);
        color: var(--white);
    }

    > .row {
        margin-bottom: 0;

        @media (min-width: 480px) {
            margin-bottom: var(--drop-medium);
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-column-gap: var(--gutter-small);
        }

        @media (min-width: 800px) {
            grid-column-gap: var(--gutter-medium);
        }

        @media (min-width: 960px) {
            margin-bottom: var(--drop-big);
            grid-column-gap: var(--gutter-large);
        }
    }

    .row:last-of-type {
        margin-bottom: 0px;
    }

    // basics, ie styles to be inherited by all elements
    .thumb {
        // styles
    }

    img {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .quote {
        margin-bottom: var(--drop-medium);
        font-family: var(--titling);
        font-size: 1.375rem;
        line-height: 1.35;
        color: var(--white);

        @media (min-width: 960px) {
            font-size: var(--font-medium);
        }
    }

    .details {
        display: flex;
        flex-direction: column;
    }

    .client {
        margin-right: 77px;
        margin-bottom: 0.5rem;
        font-family: var(--copy);
        font-size: var(--font-base-plus);
        line-height: var(--lh-medium);
        color: var(--white);
    }

    .category {
        font-family: var(--copy);
        font-size: var(--font-base-plus);
        text-transform: uppercase;
        line-height: var(--lh-small);
        color: var(--work-meta);
    }

    .description {
        margin-bottom: var(--drop-medium);
        font-family: var(--copy);
        font-size: var(--font-base-plus);
        line-height: var(--lh-small);
        color: var(--work-meta);
    }

    // specific row stylings

    /* three col layout ------------------------------------------------------------ */
    .three-cols {
        grid-template-rows: 1fr;
        margin-bottom: 15.25rem;

        .col-1 {
            grid-column: 1 / 9;
            grid-row: 1 / -1;

            @media (min-width: 960px) {
                grid-column: 1 / 6;
            }

            .details {
                flex-direction: column;
            }

            .description {
                max-width: 70%;
                margin-bottom: var(--drop-small);

                @media (min-width: 960px) {
                    max-width: 60%;
                }
            }

            img {
                padding-top: var(--offset-medium);
            }
        }

        .col-2 {
            padding-top: var(--offset-medium);
            grid-column: 7 / 13;
            grid-row: 1 / -1;

            @media (min-width: 960px) {
                grid-column: 5 / 10;
            }
        }

        .col-3 {
            padding-top: var(--offset-large);
            grid-column: 9 / -1;
            grid-row: 1 / -1;
            display: none;

            @media (min-width: 960px) {
                display: block;
            }
        }
    }
}
