/* grid work-v1.0 : this uses auto-flow: dense to layout loop generated content dynamically
                  : this also defines the bespoke grids for featured work
---------------------------------------------------------------------------------------------------------------------- */
.grid-work {
    @media (min-width: 600px) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        //grid-template-rows: auto;
        grid-column-gap: 48px;
        //grid-auto-flow: dense;
    }

    li {
        position: relative;
        margin-bottom: 2rem;
        grid-column: span 12;

        &.link {
            color: var(--meta);
        }

        @media (min-width: 768px) {
            grid-column: auto / span 6;
            margin-bottom: 6rem;
        }

        @media (min-width: 960px) {
            grid-column: auto / span 4;
        }

        &.wide {
            grid-column: span 12;

            @media (min-width: 960px) {
                grid-column: span 8;
                grid-row: span 2;
            }
        }
    }

    img {
        width: 100%;
        margin-bottom: 1rem;
    }
}

/* curated grid */
.our-work__featured {
    .image img {
        width: 100%;
    }

    .lh-col,
    .rh-col,
    .three-columns {
        article {
            grid-column: 1 / -1;
        }
    }

    @media (min-width: 960px) {
        .lh-col {
            article:nth-of-type(1) {
                grid-column: 1 / 9;
            }
            article:nth-of-type(2) {
                grid-column: 9 / -1;
            }
        }

        .rh-col {
            article:nth-of-type(1) {
                grid-column: 1 / 5;
            }
            article:nth-of-type(2) {
                grid-column: 5 / -1;
            }
        }

        .three-columns {
            article:nth-of-type(1) {
                grid-column: 1 / 5;
            }
            article:nth-of-type(2) {
                grid-column: 5 / 9;
            }
            article:nth-of-type(3) {
                grid-column: 9 / -1;
            }
        }
    }
}
